body a{
    text-decoration: none;
    color: #3F5D45;
}

body ul{
    margin: 0px;
    padding: 0px;
}

body li{
    list-style-type: none;
}


.ImgBack{
    background: transparent url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home.svg')  0% 0% no-repeat padding-box;
    background-size: cover;
    width: 851px;
    height: 768px;

    position: absolute;
    right: 0;
    z-index: -1;
}

.TopButton{
    position: fixed;

    bottom: 35px;
    right: 50px;
}

.TopButton span{
    display: flex;
    justify-content: center;
    align-items: center;

    font: normal normal bold 18px Wendy One;
    letter-spacing: 0px;
    color: #FFFFFF;

    width: 71px;
    height: 71px;

    background: #56C4C5 0% 0% no-repeat padding-box;
    border-radius: 60px;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

.nav {
    height: 88px;
}

.nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.nav .logo img{
    width: 212px;
}

.nav .price span{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 128px;
    height: 40px;

    background: #FF5D50;
    border-radius: 22px;

    font: normal normal normal 16px Noto Sans TC;
    color: #FFFFFF;
}


.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .slogan h1{
    font: normal normal bold 18px Noto Sans TC;
    letter-spacing: 0px;
    color: #56C4C5;
}

.banner .slogan h2{
    font: normal normal bold 48px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
}

.banner .slogan h3{
    font: normal normal normal 20px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
}

.banner .bannerImgLike{
    background: transparent url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home.svg') 0% 0% no-repeat padding-box;

    width: 532px;
    height: 534px;
}

.platform{
    width: 90%;

    margin: 0 auto;
}

.platform .platformBall{
    position: relative;
    z-index: -99999;

    left: -425px;
    top: 75px;
}

.platform h4{
    text-align: center;
    font: normal normal bold 32px Noto Sans TC;
    color: #221E1F;
}

.platform ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.platform li{
    width: 250px;
}

.platform .platformImg{
    margin-top: 48px;

    display: flex;
    justify-content: center;
}

.platform .platformMessenger, .platform .platformLine, .platform .platformIG{
    width: 90px;
    height: 90px;
}

.platform li h5{
    margin-top: 24px;

    text-align: center;
    font: normal normal bold 24px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
}

.platform li p{
    margin-top: 24px;

    text-align: center;
    font: normal normal normal 16px Noto Sans TC;
    letter-spacing: 0px;
    color: #747474;
}

.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 100px;
}

.feature .featureList{
    width: 50%;
}

.feature .featureSlogan{
    width: 50%;
}

.feature .featureList ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 500px;

    margin-top: 130px;
}

.feature .featureList li{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;

    width: 230px;
    height: 280px;

}

.feature .featureList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.feature .featureList .featureImg{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 86px;
    height: 86px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 60px;

    margin-left: 32px;
    margin-top: 32px;
}

.feature .featureList img{
    margin-left: 20px;
}

.feature .featureList h5{
    width: 166px;

    font: normal normal bold 18px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;

    margin-top: 24px;
    margin-left: 32px;
}

.feature .featureList p{
    width: 166px;

    font: normal normal normal 16px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;

    margin-top: 16px;
    margin-left: 32px;
}

.feature .featureSlogan{
    margin-top: 100px;
}

.feature .featureSlogan h4{
    font: normal normal bold 32px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
}

.feature .featureSlogan p{
    margin-top: 16px;

    font: normal normal normal 18px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
}

.feature .featureSlogan span{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 24px;

    width: 136px;
    height: 49px;
    /* UI Properties */
    background: #56C4C5 0% 0% no-repeat padding-box;
    border: 1px solid #56C4C5;
    border-radius: 27px;

    color: #FFFFFF;
}

.evaluation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;

    margin: 0 auto;
    margin-top: 100px;
}

.evaluation h4{
    display: flex;
    justify-content: center;

    font: normal normal bold 32px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;

    width: 100%;
}

.evaluation .evaluationList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.evaluation .evaluationList .evaluationListCard{
    margin-right: 14px;
}

.evaluation .evaluationCard{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    width: 352px;
    height: 248px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;

    position: relative;

    margin-top: 104px;
}

.evaluation .evaluationCard  .evaluationBall {
    position: absolute;
    z-index: -99999;
    top: -110px;
    left: -90px;
}

.evaluation .evaluationCard .userImg{
    width: 80px;
    height: 80px;

    border-radius: 60px;

    position: absolute;
    top: -50px;
    left: 32px;
}

.evaluation .evaluationCard .evaluationContent{
    font: normal normal normal 16px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;

    margin: 0 32px;
    margin-top: 48px;
}

.evaluation .evaluationCard h5{
    font: normal normal bold 16px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;

    margin: 0 32px;
}

.evaluation .evaluationCard hr{
    min-width: 288px;

    margin: 24px 32px;
}

.evaluation .evaluationCard .titleStar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 32px;
    margin-bottom: 24px;
}

.evaluation .evaluationCard .title{
    font: normal normal bold 16px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;

    width: 50%;

    margin: 0px;
}

.evaluation .evaluationCard ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
}

.evaluation .evaluationCard li{
    margin-right: 9px;
}

.evaluation .changeList{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-top: 24px;
}

.evaluation .changeList button{
    width: 10px;
    height: 10px;
    /* UI Properties */
    background: #DDDDDD 0% 0% no-repeat padding-box;
    border-radius: 50px;

    border: 0px;

    margin-right: 8px;
}

.evaluation .changeList button:last-child{
    width: 16px;

    background: #FFD153 0% 0% no-repeat padding-box;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 100px;
    position: relative;
}

.footer .footerImg{
    background: transparent url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg') center repeat-x padding-box;

    width: 100%;
    min-height: 503px;
}

.footer h4{
    display: flex;
    justify-content: center;

    font: normal normal bold 32px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;

    width: 100%;

    position: relative;
    top: -100px;
}

.footer a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    position: relative;
    top: -40px;
}

.footer a span{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 136px;
    height: 49px;

    font-size: 18px;

    background: #56C4C5 0% 0% no-repeat padding-box;
    border: 1px solid #56C4C5;
    border-radius: 27px;

    color: #FFFFFF;
}

.footer .footerCopyRight{
    display: flex;
    justify-content: center;
    align-items: self-end;

    width: 100%;
    height: 56px;

    background: #F5F5F5 0% 0% no-repeat padding-box;

    font: normal normal normal 16px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;

    margin-top: 116px;
}


@media (max-width: 576px) {
    .ImgBack{
        display: none;
    }

    .TopButton{
        position: fixed;

        bottom: 35px;
        right: 50px;
    }

    .TopButton span{
        font: normal normal bold 14px Wendy One;

        width: 50px;
        height: 50px;
    }


    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .nav{
        height: 72px;
        border-bottom: 1px solid #FFD153;
    }

    .nav ul{
        width: 90%;
        margin: 0 auto;
    }

    .nav ul .logo img{
        width: 130px;
    }

    .banner {
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;

        margin-top: 32px;
    }

    .banner .slogan h2{
        font-size: 32px;
    }
    .banner .slogan h3{
        font-size: 16px;
    }

    .banner .bannerImg {
        margin-top: 32px;

        position: relative;
    }

    .banner .bannerImgLike{
        width: 304px;
        height: 305px;

        position: absolute;
    }

    .banner .bannerImgBack {
        z-index: -1;

        background: transparent url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home_sm.svg') 0% 0% no-repeat padding-box;

        width: 347px;
        height: 255px;
    }

    .platform{
        width: 100%;

        margin: 0 auto;
    }

    .platform .platformBall{
        width: 126px;
        height: 126px;

        left: -77px;
        top: 145px;
    }

    .platform h4{
        font: normal normal bold 28px Noto Sans TC;
    }

    .platform ul{
        justify-content: center;
        flex-wrap: wrap;
    }

    .platform .platformImg{
        margin-top: 24px;
    }

    .platform .platformMessenger, .platform .platformLine, .platform .platformIG{
        width: 60px;
        height: 60px;
    }

    .platform li h5{
        margin-top: 16px;

        font: normal normal bold 18px Noto Sans TC;
    }

    .platform li p{
        margin-top: 16px;
    }

    .feature{
        flex-direction: column-reverse;
        justify-content: center;
        flex-wrap: wrap;

        margin-top: 60px;
    }

    .feature .featureList{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 90%;
    }

    .feature .featureSlogan{
        width: 90%;
    }

    .feature .featureList ul{
        justify-content: center;

        margin-top: 32px;
    }

    .feature .featureList li{
        margin-top: 24px;
    }

    .feature .featureList .featureImg{
        margin-left: 24px;
        margin-top: 32px;
    }

    .feature .featureList img{
        margin-left: 20px;
    }

    .feature .featureList h5{
        margin-left: 24px;
    }

    .feature .featureList p{
        margin-top: 20px;
        margin-left: 24px;
    }

    .feature .featureSlogan{
        margin-top: 100px;
    }

    .feature .featureSlogan h4{
        text-align: center;

        font: normal normal bold 28px Noto Sans TC;
    }

    .feature .featureSlogan p{
        text-align: center;

        font: normal normal normal 16px Noto Sans TC;
    }

    .feature .featureSlogan a{
        display: flex;
        justify-content: center;
    }

    .feature .featureSlogan span{
        margin-top: 16px;
    }


    .evaluation .evaluationList{
        justify-content: center;
    }

    .evaluation .evaluationListCard{
        display: none;
    }

    .evaluation .evaluationListCard:first-child{
        display: block;
    }

    .footer{
        margin-top: 60px;
    }

    .footer .footerImg{
        background: transparent url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg') center repeat-x padding-box;

        min-height: 461px;
    }

    .footer h4{
        font: normal normal bold 24px Noto Sans TC;

        top: -50px;
    }

    .footer a{
        top: -30px;
    }

    .footer .footerCopyRight{
        margin-top: 55px;
    }
}